body {
background-color: #f3d862d5;
color: rgb(83, 74, 74);
font-family: 'Courier New', Courier, monospace;
text-align: center;
h1 {
color: blue;
}
}
ul{
    list-style-type:none;
}
li {
    display: inline;
}
a:hover{
color: rgba(35, 206, 49, 0.993);
}
img{ 
max-width: 100%;
}